/* ================================
      Themes
================================= */
@layer utilities {
  .u-theme-light {
    --_theme---border: var(--color--dark);
    --_theme---background: var(--color--light);
    --_theme---text: var(--color--dark);
    --_theme---text-faded: var(--color--dark-faded);

    --_theme---button-primary--background: var(--color--dark);
    --_theme---button-primary--border: var(--color--dark);
    --_theme---button-primary--text: var(--color--light);
    --_theme---button-primary--background-hover: var(--color--brand-main);
    --_theme---button-primary--border-hover: var(--color--brand-main);
    --_theme---button-primary--text-hover: var(--color--dark);

    background-color: var(--_theme---background);
    color: var(--_theme---text);

    .u-text-style-h6 {
      color: var(--_theme---text-faded);
    }

    button {
      background-color: var(--_theme---button-primary--background);
      border: var(--border-width--main) solid
        var(--_theme---button-primary--border);
      color: var(--_theme---button-primary--text);
    }

    #button-mask {
      background-color: var(--_theme---button-primary--background-hover);
      border: var(--border-width--main) solid
        var(--_theme---button-primary--border-hover);
      color: var(--_theme---button-primary--text-hover);
      cursor: pointer;
    }
  }

  .u-theme-dark {
    --_theme---border: var(--color--light);
    --_theme---background: var(--color--dark);
    --_theme---text: var(--color--light);
    --_theme---text-faded: var(--color--light-faded);

    --_theme---button-primary--background: var(--color--light);
    --_theme---button-primary--border: var(--color--light);
    --_theme---button-primary--text: var(--color--dark);
    --_theme---button-primary--background-hover: var(--color--brand-main);
    --_theme---button-primary--border-hover: var(--color--brand-main);
    --_theme---button-primary--text-hover: var(--color--light);

    background-color: var(--_theme---background);
    color: var(--_theme---text);

    .u-text-style-h6 {
      color: var(--_theme---text-faded);
    }

    button {
      background-color: var(--_theme---button-primary--background);
      border: 1px solid var(--_theme---button-primary--border);
      color: var(--_theme---button-primary--text);
    }

    #button-mask {
      background-color: var(--_theme---button-primary--background-hover);
      border: 1px solid var(--_theme---button-primary--border-hover);
      color: var(--_theme---button-primary--text-hover);
    }
  }
}
/* ================================
      Containers
================================= */
@layer utilities {
  .u-container {
    max-width: var(--container--main);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    container-type: inline-size;
  }
}

/* ================================
      Text Styles
================================= */
@layer utilities {
  .u-text-style-display {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--display);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-h1 {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--h1);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0em);
    --_text-style--line-height: var(--_typography---line-height--1);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-h2 {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--h2);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-h3 {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--h3);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-h4 {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--h4);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-h5 {
    --_text-style--font-family: var(--_typography---font-family--secondary);
    --_text-style--font-size: var(--_typography---font-size--h5);
    --_text-style--font-weight: var(
      --_typography---font-weight--secondary-regular
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-h6 {
    --_text-style--font-family: var(--_typography---font-family--secondary);
    --_text-style--font-size: var(--_typography---font-size--h6);
    --_text-style--font-weight: var(
      --_typography---font-weight--secondary-regular
    );
    --_text-style--letter-spacing: var(
      --_typography---letter-spacing--neg-0-05em
    );
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: balance;
    display: flow-root;
  }

  .u-text-style-main {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--text-main);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0-03em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: pretty;
    display: flow-root;
  }
  .u-text-style-large {
    --_text-style--font-family: var(--_typography---font-family--primary);
    --_text-style--font-size: var(--_typography---font-size--text-large);
    --_text-style--font-weight: var(
      --_typography---font-weight--primary-medium
    );
    --_text-style--letter-spacing: var(--_typography---letter-spacing--0-03em);
    --_text-style--line-height: var(--_typography---line-height--1);

    font-family: var(--_text-style--font-family);
    font-size: var(--_text-style--font-size);
    font-weight: var(--_text-style--font-weight);
    letter-spacing: var(--_text-style--letter-spacing);
    line-height: var(--_text-style--line-height);
    text-wrap: pretty;
    display: flow-root;
  }
}

/** Text Line Height Trim **/
/* PRIMARY FONT */
:is(
  .u-text-style-h1,
  .u-text-style-h2,
  .u-text-style-h3,
  .u-text-style-h4,
  .u-text-style-main,
  .u-text-style-large,
  .u-text-style-display,
  h1,
  h2,
  h3,
  h4,

) {
  display: flow-root;
}
:is(
  .u-text-style-h1,
  .u-text-style-h2,
  .u-text-style-h3,
  .u-text-style-h4,
  .u-text-style-main,
  .u-text-style-large,
  .u-text-style-display,
  h1,
  h2,
  h3,
  h4,

)::before {
  content: '';
  display: table;
  margin-bottom: calc(-0.5lh + 0.36em);
}
:is(
  .u-text-style-h1,
  .u-text-style-h2,
  .u-text-style-h3,
  .u-text-style-h4,
  .u-text-style-main,
  .u-text-style-large,
  .u-text-style-display,
  h1,
  h2,
  h3,
  h4,

)::after {
  content: '';
  display: table;
  margin-bottom: calc(-0.5lh + 0.36em);
}

/* SECONDARY FONT */
:is(.u-text-style-h5, .u-text-style-h6, h5, h6) {
  display: flow-root;
}
:is(.u-text-style-h5, .u-text-style-h6, h5, h6)::before {
  content: '';
  display: table;
  margin-bottom: calc(-0.5lh + 0.35em);
}
:is(.u-text-style-h5, .u-text-style-h6, h5, h6)::after {
  content: '';
  display: table;
  margin-bottom: calc(-0.5lh + 0.35em);
}
