#cursor {
  background: var(--color--brand-main);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

#navbar-mask {
  mask-image: url('/images/circle.svg');
  background: var(--color--dark);
  mask-repeat: no-repeat;
  mask-size: 100px;
  z-index: 2;
}

