#cursor {
  background: var(--color--brand-main);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}
