 /* Hide scrollbar for Chrome, Safari and Opera */
#project-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#project-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

#project-list-wrap {
  height: calc((var(--project-item--height) * var(--project-list--count)));
  margin-top: calc(
    var(--project-list-container--height) - var(--project-item--height)
  );
}

.active {
  opacity: 1;
}
