/* Hide scrollbar for Chrome, Safari and Opera */
#project-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#project-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#project-list-wrap {
  margin-top: calc(var(--project-list--height) - var(--project-item--height));
}

.active {
  opacity: 1;
}
