#project-list-wrap {
  height: calc((var(--project-item--height) * var(--project-list--count)));
  margin-top: calc(
    var(--project-list-container--height) - var(--project-item--height)
  );
}

.active {
  opacity: 1;
}
